/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f1f1f1; /* Light background color */
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 1rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar .navbar-heading {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  flex-grow: 1; /* Center the heading */
}

/* Main Container */
.container {
  display: flex;
  margin-top: 60px; /* Space for the fixed navbar */
  min-height: calc(100vh - 120px);
}

/* Left Menu */
.left-menu {
  width: 250px;
  background: #2c2f36;
  color: white;
  padding: 1rem;
  transition: all 0.3s;
}

.left-menu.collapsed {
  width: 0;
  overflow: hidden;
}

.menu-content {
  overflow: hidden;
}

.menu-section h3 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.menu-section ul {
  list-style-type: none;
}

.menu-section ul li {
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 2rem;
  background: #f4f4f4; /* Light grey background for main content */
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.content-section {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-section h3 {
  color: #007BFF;
  font-size: 1.4rem;
}

.main-content h2 {
  color: #333;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.main-content p {
  color: #555;
}

/* Right Panel */
.right-panel {
  width: 250px;
  background: #333;
  color: white;
  padding: 1rem;
}

.right-panel h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.right-panel a {
  color: #007BFF;
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

.right-panel a:hover {
  text-decoration: underline;
  border-bottom: 2px solid #007BFF;
  background: transparent;
  border: 1px solid white;
  padding: 2px;
}

/* Footer */
.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .left-menu,
  .right-panel {
    width: 100%;
  }

  .main-content {
    grid-template-columns: 1fr;
  }
}
